<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/assets/style/style.css" rel="stylesheet">
    </head>
    <body>
      
        <% if(goodsObj instanceof Array) { %>

            <% for (let i = 0; i < goodsObj.length; i++) { %>
                
                    <%- include("./item.ejs", {goodsObj: goodsObj[i]}) %>
              
            <% } %>

        <% } else { %>
          
                <%- include("./item.ejs", {goodsObj: goodsObj}) %>
           
        <% } %>
    </body>
</html>